# deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook
spec:
  replicas: 1
  selector:
    matchLabels:
      app: guestbook
  template:
    metadata:
      labels:
        app: guestbook
    spec:
      containers:
      - name: my-custom-app
        image: europe-north2-docker.pkg.dev/massive-team-479322-a8/my-app-repo/my-custom-app:v1
        ports:
        - containerPort: 8080
