apiVersion: v1
kind: Service
metadata:
  name: guestbook
  namespace: default
spec:
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30080
  selector:
    app: guestbook
  ports:
    - port: 8080        # Port inside the cluster
      targetPort: 8080  # Container port
      protocol: TCP
